/* -------body------- */

body {
  font-family: "roboto";
}

/* -------body------- */

/* -------header------- */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* -------header------- */

/* -------main------- */

.hero {
}
.hero-section {
}
.hero-title {
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
.hero-second {
}
.hero-title-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-list {
}
.hero-item {
}
.hero-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.hero-third {
}
.hero-title-third {
}
.hero-list-third {
}
.hero-item-third {
}
.hero-fourth {
}
.hero-title-fourth {
}
.hero-list-fourth {
}
.hero-item-fourth {
}
.hero-title-name {
}
.hero-text-speciality {
}

/* -------main------- */
