/* -------body------- */

body {
  font-family: "roboto";
}

/* -------body------- */

/* -------header------- */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
}

.header-logo {
}

.header-list {
}
.header-item {
}
.header-link {
}
.header-list-second {
}
.header-item-second {
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* -------header------- */
